$background: linear-gradient(
    45deg,
    rgba(91, 204, 110, 0.3),
    rgba(76, 187, 220, 0.5)
  ),
  url('../images/bg.jpeg');
$font-family: 'Roboto', sans-serif;
$fontcolor: rgb(10, 45, 73);

html {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
}
#home,
#project-page,
#about-page {
  font-family: $font-family;
  background: $background;
  color: $fontcolor;
  background-origin: center;
  background-size: 100% 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

//animations
@keyframes Rotation {
  0% {
    opacity: 0;
    transform-origin: 100%;
    transform: rotate(90deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(30deg);
  }
  100% {
    transform-origin: 100%;
    transform: rotate(0deg);
  }
}
#header {
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 1rem;
  color: $fontcolor;
  #portfolio {
    padding: 1rem;
  }
  #portfolio a {
    text-decoration: none;
    color: $fontcolor;
  }
  .navlist {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
      padding: 5px 15px;
      margin-left: 1rem;

      :hover {
        color: #fff;
      }
      a {
        font-size: 1.5rem;
        text-decoration: none;
        color: $fontcolor;
      }
    }
  }
}
.content {
  h2.heading {
    margin: 1rem;
    text-align: center;
  }
  p {
    color: rgb(224, 255, 246);
    margin: 2rem;
    font-size: 2em;
  }
}
.projects {
  margin-top: 3rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  li {
    list-style: none;
  }
  .project {
    color: $fontcolor;
    margin: 2rem;
    text-decoration: none;
    text-align: center;
    img {
      width: 24rem;
      height: 12rem;
    }
  }
}
#mid-section {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .contacts {
    display: flex;
    justify-content: center;
    a {
      font-size: 3rem;
      margin-top: 2rem;
      margin: 2rem;
      color: $fontcolor;
      text-decoration: none;
      :hover {
        color: white;
        background-color: $fontcolor;
      }

      i {
        background: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 0.5rem;
      }
    }
  }

  #name {
    z-index: 2;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    padding: 0 3rem;
    .subtitle {
      font-size: 1.5rem;
    }
  }
  .first-name {
    opacity: 0;
    color: rgb(255, 255, 255);
  }

  .last-name {
    padding-left: 5rem;
    color: $fontcolor;
  }
}

.rotate {
  opacity: 1;
  animation: Rotation 0.5s ease-out;
}
.logo {
  width: 4rem;
  color: #fff;
  stroke: #fff;
  fill: #ffffff;
}
.clock {
  width: 15rem;
  height: 15rem;
  border: 10px dashed rgb(255, 255, 255);
  border-radius: 50%;
  margin: 1rem auto;
  position: relative;
  padding: 10px;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
  #three,
  #six,
  #twelve,
  #nine {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
  #twelve {
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #three {
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 0%;
  }
  #six {
    font-weight: bold;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  #nine {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 0%;
  }
  #three,
  #nine {
    transform: translateY(-50%);
  }
}

.clock-face {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 12;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 50%;

  //clock Hands
  .hand {
    right: 50%;
    background: $fontcolor;
    position: absolute;
    top: 50%;
    transition: ease-in;
  }
  .min-hand {
    height: 4px;
    width: 40%;
    transform: rotate(80deg);
    transform-origin: 100%;
  }
  .second-hand {
    background-color: red;
    height: 2px;
    width: 50%;
    transform: rotate(60deg);
    transform-origin: 100%;
  }
  .hour-hand {
    height: 4px;
    width: 25%;
    transform: rotate(30deg);
    transform-origin: 100%;
  }
  .dot {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 65;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: red;
  }
}

//@laptop
$maxWidth: 900px;

@media (max-width: $maxWidth) {
  html {
    font-size: 12px;
  }
  #project-page {
    height: 120vh;
    width: 100vw;
  }
  #about-page {
    height: 100vh;
  }
  .projects {
    justify-content: center;
  }
  .list {
    display: none;
    #navlist li a {
      pointer-events: none;
    }
  }
  .list.show {
    display: block;
  }

  #header {
    display: block;
    .menu {
      position: absolute;
      top: 20px;
      right: 20px;
      .line {
        background-color: $fontcolor;
        margin-bottom: 3px;
        width: 25px;
        height: 3px;
      }
    }
    .navlist {
      top: 0%;
      right: 0%;
      width: 100%;
      padding: 1rem 0;
      flex-direction: column;
      background-color: rgba(34, 30, 30, 0.1);
      li {
        text-align: center;
      }
    }
  }
  #mid-section {
    width: 100vw;
    justify-content: center;
    margin: 1rem auto;
    #name {
      font-size: 3rem;
    }
    .clock {
      width: 12rem;
      height: 12rem;
    }
  }
}
//!@mobile
$mobWidth: 600px;
@media (max-width: $mobWidth) {
  html {
    font-size: 8px;
  }
  #project-page {
    height: 130vh;
    width: 100vw;
    background-size: cover;
  }
  #about-page {
    height: 100vh;
    background-size: 100% 100%;
  }
}
